.page {
    max-width: 1200px;
    font-size: medium;
}

.proofend {
    text-align: right;
    font-size: large;
    background-color: #ffffff;
}

img {
    border: 1px solid #000;
}

h3 {
    background-color: #d8daf5;
}
.thm {
    font-variant: small-caps;
}
.indent {
    padding-left: 20px;
}

/* Link styling */
 a:link {
    color: blue;
  }
  
  /* visited link */
  a:visited {
    color: blue;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: red;
  } 